body{ 
    background-attachment: fixed;
    background-image: url(../takeover.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1{
    margin-top: 30px;
    color:#D51C1C;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    margin-top: 20px;
    color:#FEF083;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


#chiviet{
    background-color:rgba(33, 37, 41,0.5);   
}
#chiviet2{
    background-color:rgba(33, 37, 41,0.1);   
}

#corpcs{
    background-color:rgba(33, 37, 41,0.5);
}
#corpcs2{
    background-color:rgba(33, 37, 41,0.1);
}

#euusa{
    background-color:rgba(33, 37, 41,0.5);
}
#euusa2{
    background-color:rgba(33, 37, 41,0.1);
}


#bouton{
    transition-duration: 0.4s;
    color: #F18800;
    border-color:#F18800;
    background-color: #212529;
    font-weight: 500;
} 
#bouton:hover{
    background-color: #F18800;
    color: #212529;
}

#logo{
    background-color:rgba(33, 37, 41,0.5);
}


.multiCollapseExample{
    background-color:rgba(33, 37, 41,0.5);

}